<div class="container-fluid home-component">
  <div class="row">
    <div class="col-md-6 mx-auto mt-2 text-center">
      <div class="card text-center">
        <div class="card-header fs-1">Bienvenido</div>
        <form [formGroup]="formData" (ngSubmit)="calculate()" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="mb-3">
                  <label for="number" class="form-label">Agrega un numero para conocer sus multiplos de 3, 5 y 7</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        formData.controls['number'].status == 'INVALID' && formData.controls['number'].touched
                    }"
                    formControlName="number"
                    name="number"
                    [allowNegativeNumbers]="false"
                    mask="separator.0"
                    id="number"
                    thousandSeparator=","
                    placeholder="Escribe aquí el número"
                    autocomplete="off"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formData.controls['number'].status == 'INVALID' && formData.controls['number'].touched"
                  >
                    Campo requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Dependiendo del valor valor calculado se agrega el color a la propiedad color y con ngClass verificamos para agregar la clase que da el color -->
                <span
                  class="badge"
                  [ngClass]="{
                    'bg-primary': multiplos.color == 'azul',
                    'bg-danger': multiplos.color == 'rojo',
                    'bg-success': multiplos.color == 'verde'
                  }"
                  >{{ multiplos.number }}
                  <span *ngIf="multiplos.multiplos.length > 1">
                    <span>Multiplos: [</span
                    ><span *ngFor="let item of multiplos.multiplos; let last = last"
                      >{{ item }}<span *ngIf="!last">, </span></span
                    >]
                  </span></span
                >
                <span *ngIf="multiplos.color == 'none'">Sin multiplos</span>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Calcular</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
