<div class="container-fluid home-component">
  <div class="row">
    <div class="col-md-6 mx-auto mt-2 text-center">
      <div class="card text-center">
        <div class="card-header fs-1">Bienvenido</div>
        <form [formGroup]="formData" (ngSubmit)="calculate()" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="mb-3">
                  <label for="number" class="form-label">Agrega un numero para conocer sus multiplos de 3, 5 y 7</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        formData.controls['number'].status == 'INVALID' && formData.controls['number'].touched
                    }"
                    formControlName="number"
                    name="number"
                    [allowNegativeNumbers]="false"
                    mask="separator.0"
                    id="number"
                    thousandSeparator=","
                    placeholder="Escribe aquí el número"
                    autocomplete="off"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formData.controls['number'].status == 'INVALID' && formData.controls['number'].touched"
                  >
                    Campo requerido
                  </div>
                </div>
              </div>
            </div>
            <!-- Se recorre arreglo numbers para imprimir los valores y se imprimen solo los numeros donde el resultado del modulo resulte igual a 0
            De la misma forma dependiendo del resultado de numero se agrega clase para agregar clase bg-success, bg-danger y bg-primary para los colores -->
            <div class="row" *ngIf="numbers.length > 0">
              <div
                class="col-md-1"
                *ngFor="let item of numbers; index as i"
                [ngClass]="{ 'display-none': item % 3 != 0 || item % 5 != 0 || item % 7 != 0 }"
              >
                <span
                  class="badge rounded-pill bg-primary"
                  [ngClass]="{ 'bg-success': item % 3 == 0, 'bg-danger': item % 5 == 0, 'bg-primary': item % 7 == 0 }"
                  *ngIf="item % 3 == 0 || item % 5 == 0 || item % 7 == 0"
                  >{{ item }}</span
                >
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Calcular</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
